* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
}

*::selection {
    color: white;
    background-color: #1182eb;
}

body {
    background-color: white;
    max-width: 1400px;
    margin: auto;
}

header {
    text-align: center;
    height: 80px;
    padding: 40px;
    color: rgb(94, 92, 89);
}

header h1 {
    font-size: 40px;
}

.card {
    width: 300px;
    height: 450px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    background-color: white;
    color: midnightblue;
    box-shadow: 5px 5px 5px 5px lightgrey; /* horizontal ofset (+right), vertical (+down) ofset, blur ,spread */
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.card img {
    margin: 10px;
    min-height: 250px;
    border-radius:10px ;
}

.card:hover {
    opacity: 1;
}

h2, h3, h4, h5, h6 {
    font-size: 30px;
    text-decoration: underline;
}


span {
    font-size: 1.5em;
    color: #B48CE0;
}

#penelope {
    list-style-type: none;
}

li:hover {
    color: #1182eb;
}

#kingqueen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#children {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#susan {
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.vertical-line1 {
    display: inline-block;
    border-left: 1px solid black;
    margin-left: 30%;
    height: 150px;
}

.vertical-line2 {
    display: inline-block;
    border-left: 1px solid black;
    margin-left: 40%;
    height: 150px;
}

.vertical-line3 {
    display: inline-block;
    border-left: 1px solid black;
    margin-left: 80%;
    height: 150px;
}